<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/FrontEnd/styles/login.css">
</head>
<body>
    <header>
        <div>
            <!-- <img src="" alt="Logo"> -->
             <h3>LOGO</h3>
        </div>
    </header>
    <div class="login-container">
        <div class="login-logo">
            <img src="/FrontEnd/assets/logologin.png" alt="Login Logo">
        </div>
        <form action="/login" method="POST">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <a href="/FrontEnd/views/index.html"><button type="button">Login</button></a>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a href="/FrontEnd/views/signup.html">Sign up </a></p>
        </div>
    </div>
    <script src="/FrontEnd/scripts/loginscript.js"></script>
</body>
</html>
